@charset "ISO-8859-1";

.sc-services {
	padding-top: 0px;
}

.services-item {
	width: calc(48.3333% - 37px);
}

.services-item .item-title {
	margin-top: 0px;
}

.item-title {
	color: #777;
	text-align: center;
}

.item-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 120px;
}

.item-icon i {
	color: #333;
	transform: scale(3);
}

.text {
	text-align: center;
	color: #458ff6;
	font-weight: bold;
	font-size: 32px;
}

#login-modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 1000;
	display: none;
	justify-content: center;
	align-items: center;
}

.modal {
	background-color: #e6ecf0;
	padding: 10px 0 20px 0;
	border-radius: 10px;
	width: 450px;
	text-align: center;
}

.top-form {
	display: flex;
	justify-content: flex-end;
}

.top-form .close-modal {
	cursor: pointer;
	padding: 0 20px;
	font-size: 20px;
}

.login-form h2 {
	letter-spacing: 2px;
	margin-top: 10px;
	margin-bottom: 30px;
}

.login-form form input {
	width: 75%;
	margin-bottom: 20px;
	padding: 12px 12px;
	box-sizing: border-box;
	border: 1px solid #d0d5d8;
	border-radius: 3px;
}

.login-form form button {
	padding: 12px 0px;
	width: 75%;
	background-color: #458ff6;
	border: 0;
	border-radius: 3px;
	color: white;
	margin: 10px auto;
	cursor: pointer;
}